<div class='flex h-screen items-center justify-center'>
  <div class='w-[340px] rounded-lg bg-dark2 px-7 py-3 shadow-2xl'>
    {{{H1 header='sign_in'}}}
    <form class='mt-12' action='#'>
      {{{InputBlock name='login' label='Login' value=login error=errors.login}}}
      {{{InputBlock
        name='password'
        label='Password'
        type='password'
        value=password
        error=errors.password
      }}}
    <div class='relative -top-3 font-monospace text-xs text-red0 text-center'>{{errors.auth}}</div>
      {{{SubmitButton label='Sign In' onClick=onClick}}}
    </form>
    <div class='mt-2 text-center'>
      {{{TextButton
        label='Create account'
        href='/sign-up'
      }}}
    </div>
  </div>
</div>
