  <div
    class='modal {{#if active}}absolute{{else}}hidden{{/if}} top-[50%] left-[50%] -mt-[200px] -ml-[170px] h-[240px] w-[340px] rounded-lg bg-dark2 p-7 shadow-2xl'
  >
    {{{H2 header='add_user'}}}
    <form action='#'>
      {{{InputBlock
        name='user_id'
        label='User id'

      }}}
      {{{SubmitButton label='Add user' onClick=onAddUserSubmitUpdated}}}
    </form>
    {{{TextButton label='Cancel' onClick=onModalCancelClick red=true}}}
    <div
      class='relative -top-3 text-center font-monospace text-xs text-red0'
    >{{errors.add_user}}</div>
  </div>

