<div
  class='modal {{#if active}}absolute{{else}}hidden{{/if}} absolute top-[55px] right-[10px] h-[140px] w-[150px] rounded-lg bg-dark2 p-7 shadow-2xl'
>
  {{{TextButton label='Add user' onClick=onAddUserClick}}}<br>
  {{{TextButton label='Delete user' onClick=onDeleteUserClick}}}<br><br>
  {{{TextButton label='Delete chat' onClick=onDeleteChatClickUpdated red=true}}}<br>
  <div
        class='relative -top-3 text-center font-monospace text-xs text-red0'
      >{{error}}</div>
</div>
