<div
  class='modal {{#if active}}absolute{{else}}hidden{{/if}} absolute top-[55px] right-[10px] h-[200px] w-[200px] rounded-lg bg-dark2 p-7 shadow-2xl'
>
  {{{TextButton label='Add user' onClick=onAddUserClick}}}<br>
  {{{TextButton label='Delete user' onClick=onDeleteUserClick}}}<br>
  {{{TextButton label='Change pic' onClick=onChangePicClick}}}<br>
  {{{TextButton label='Delete chat' onClick=onDeleteChatClick red=true}}}<br><br>
  {{!-- {{{TextButton label='Close' onClick=onModalCancelClick red=true}}}<br> --}}
</div>
