<div class='flex h-screen'>
  {{{NewChatButton onClick=onNewChatButtonClick}}}
  <h1 class='hidden'>Chat app</h1>
  {{{ChatSideBar}}}
  {{{ChatMainWindow onChatSettingsButtonClick=onChatSettingsButtonClick}}}
  {{{ModalBackground
    active=(isAnyObjectPropertyTrue modals)
    onEmptySpaceClick=onEmptySpaceClick
  }}}
  {{{NewChatModal
    active=modals.newChat
    onCreateNewChatSubmit=onCreateNewChatSubmit
    onModalCancelClick=onModalCancelClick
    error=errors.APIError
  }}}
  {{{ChatEditModal
    active=modals.chatEdit
    onDeleteChatClick=onDeleteChatClick
    onAddUserClick=onAddUserClick
  }}}
  {{{AddUserModal
    active=modals.addUser
    onAddUserSubmit=onAddUserSubmit
    onModalCancelClick=onModalCancelClick
  }}}
  {{!-- {{{UploadAvatarModal
    active=modals.chatAvatarUpload
    onDeleteChatClick=onDeleteChatClick
    onChatSettingsCloseClick=onModalCancelClick
  }}} --}}
</div>
