<div class='flex h-screen'>
  {{{NewChatButton onClick=onNewChatButtonClick}}}
  <h1 class='hidden'>Chat app</h1>
  {{{ChatSideBar}}}
  {{{ModalBackground active=(isAnyObjectPropertyTrue modals) onEmptySpaceClick=onEmptySpaceClick}}}

  {{{ChatMainWindow onChatSettingsClick=onChatSettingsClick}}}
    {{{NewChatModal
    active=modals.newChat
    onNewChatCancelClick=onModalCancelClick
    onCreateNewChatClick=onCreateNewChatClick
    error=errors.APIError
  }}}
  {{{ChatEditModal
    active=modals.chatEdit
    onDeleteChatClick=onDeleteChatClick
  }}}
  {{!-- {{{UploadAvatarModal
    active=modals.chatAvatarUpload
    onDeleteChatClick=onDeleteChatClick
    onChatSettingsCloseClick=onModalCancelClick
  }}} --}}
</div>
