<div class='flex h-screen'>
  <div class='absolute h-[100%] w-[100%] bg-black bg-opacity-50'>
    <div
      class='absolute top-[50%] left-[50%] -mt-[200px] -ml-[170px] h-[240px] w-[340px] rounded-lg bg-dark2 p-7 shadow-2xl'
    >
      {{{H2 header='upload_pic'}}}
      <form action='#'>
        <input
          class='class="text-sm text-grey-500 " file:mr-5 file:rounded-full file:border-0 file:bg-blue-50 file:py-2 file:px-6 file:text-xs file:font-medium file:text-blue-700 hover:file:cursor-pointer hover:file:bg-amber-50 hover:file:text-amber-700'
          type='file'
          id='avatar'
          name='avatar'
          accept="image/png, image/jpeg"
        />
        {{{SubmitButton label='Upload' onClick=onUploadClick}}}
      </form>
      <div
        class='relative -top-3 text-center font-monospace text-xs text-red0'
      >{{errors.uploadAPIError}}</div>
    </div>
  </div>
  <h1 class='hidden'>Profile</h1>
  {{{ChatSideBar}}}
  <div class='justify-middle flex h-screen w-full items-start'>
    <div
      class='justify-middle mx-auto mt-10 flex w-full min-w-[300px] max-w-[450px] flex-col items-center p-4 font-monospace'
    >
      <div class='relative'>
        <img
          class='mb-4 block h-[131px] w-[131px]'
          src='/assets/user-profile-pic-big.svg'
          alt='User profile picture'
        />
        <a href='#'>
          <button
            class='absolute top-0 h-[131px] w-[131px] rounded-full bg-black opacity-0 hover:opacity-60'
          >
            <span class='text-sm text-green2'>Change pic</span>
          </button>
        </a>
      </div>
      <h2 class='mb-12 text-2xl text-white'>{{display_name}}</h2>
      <ul class='w-full text-sm leading-3'>
        {{{DataRow label='Login' value=login}}}
        {{{DataRow label='Email' value=email}}}
        {{{DataRow label='Name' value=first_name}}}
        {{{DataRow label='Surname' value=second_name}}}
        {{{DataRow label='Display name' value=display_name}}}
        {{{DataRow label='Phone' value=phone}}}
      </ul>
      <ul class='mt-4 self-start'>
        <li class='mb-3'>{{{TextButton
            label='Change data'
            href='/change-data'
          }}}</li>
        <li class='mb-3'>{{{TextButton
            label='Change password'
            href='/change-password'
          }}}</li>
        <li class='mb-3'>{{{TextButton label='Log out' red=true}}}</li>
      </ul>
    </div>
  </div>
</div>
