<div class='flex h-screen'>
  <h1 class='hidden'>Profile</h1>
  {{{ChatSideBar}}}
  <div class='justify-middle flex h-screen w-full items-start'>
    <div
      class='justify-middle mx-auto mt-10 flex w-full min-w-[300px] max-w-[450px] flex-col items-center p-4 font-monospace'
    >
      <div class='relative'>
        <img
          class='mb-4 block h-[131px] w-[131px]'
          src='/assets/user-profile-pic-big.svg'
          alt='User profile picture'
        />
        <a href='#'>
          <button
            class='absolute top-0 h-[131px] w-[131px] rounded-full bg-black opacity-0 hover:opacity-60'
          >
            <span class='text-sm text-green2'>Change pic</span>
          </button>
        </a>
      </div>
      <h2 class='mb-12 text-2xl text-white'>{{display_name}}</h2>
      <ul class='w-full text-sm leading-3'>
        {{{DataRow label='Login' value=login}}}
        {{{DataRow label='Email' value=email}}}
        {{{DataRow label='Name' value=first_name}}}
        {{{DataRow label='Surname' value=second_name}}}
        {{{DataRow label='Display name' value=display_name}}}
        {{{DataRow label='Phone' value=phone}}}
      </ul>
      <ul class='mt-4 self-start'>
        <li class='mb-3'>{{{TextButton
            label='Change data'
            href='/change-data'
          }}}</li>
        <li class='mb-3'>{{{TextButton
            label='Change password'
            href='/change-password'
          }}}</li>
        <li class='mb-3'>{{{TextButton label='Log out' red=true}}}</li>
      </ul>
    </div>
  </div>
</div>
