<div class='flex h-screen'>
  {{{UploadAvatarModal
    active=modals.uploadAvatar
    onUploadCancelClick=onUploadCancelClick
    onUploadClick=onUploadClick
    error=errors.APIError
  }}}
  <h1 class='hidden'>Profile</h1>
  {{{SideBarEmpty}}}
  <div class='justify-middle flex h-screen w-full items-start'>
    <div
      class='justify-middle mx-auto mt-10 flex w-full min-w-[300px] max-w-[450px] flex-col items-center p-4 font-monospace'
    >
      {{{Avatar onClick=onAvatarClick avatar=avatar}}}
      <h2 class='mb-12 text-2xl text-white'>{{display_name}}</h2>
      <ul class='w-full text-sm leading-3'>
        {{{DataRow label='Login' value=login}}}
        {{{DataRow label='Email' value=email}}}
        {{{DataRow label='Name' value=first_name}}}
        {{{DataRow label='Surname' value=second_name}}}
        {{{DataRow label='Display name' value=display_name}}}
        {{{DataRow label='Phone' value=phone}}}
      </ul>
      <ul class='mt-4 self-start'>
        <li class='mb-3'>{{{TextButton
            label='Change data'
            href='/change-data'
          }}}</li>
        <li class='mb-3'>{{{TextButton
            label='Change password'
            href='/change-password'
          }}}</li>
        <li class='mb-3'>{{{TextButton label='Log out' href='#logout' red=true}}}</li>
      </ul>
    </div>
  </div>
</div>
