<div class='flex h-screen items-center justify-center'>
  <div class='w-[340px] rounded-lg bg-dark2 px-7 py-3 shadow-2xl'>
    {{{H1 header='sign_in'}}}
    <form class='mt-12'>
      {{{InputBlock name='email' label='Email' value=email error=errors.email}}}
      {{{InputBlock name='login' label='Login' value=login error=errors.login}}}
      {{{InputBlock
        name='first_name'
        label='First name'
        value=first_name
        error=errors.first_name
      }}}
      {{{InputBlock
        name='second_name'
        label='Second name'
        value=second_name
        error=errors.second_name
      }}}
      {{{InputBlock
        name='display_name'
        label='Name in chat'
        value=display_name
        error=errors.display_name
      }}}
      {{{InputBlock
        name='phone'
        label='Phone number'
        value=phone
        error=errors.phone
      }}}
      {{{InputBlock
        name='password'
        label='Password'
        type='password'
        value=password
        error=errors.password
      }}}
      {{{InputBlock
        name='repeat_password'
        label='Repeat password'
        type='password'
        value=repeat_password
        error=errors.repeat_password
      }}}
      <div class='relative -top-3 font-monospace text-xs text-red0 text-center'>{{errors.auth}}</div>
      {{{SubmitButton label='Sign Up' onClick=onClick}}}
      <div class='mt-2 text-center'>
        {{{TextButton
          label='I have an account'
          href='/sign-in'
        }}}
      </div>
    </form>
  </div>
</div>
