<div class='flex h-screen'>
  <h1 class='hidden'>Change data</h1>
  {{{SideBarEmpty}}}
  <div class='justify-middle flex h-screen w-full items-start'>
    <div
      class='justify-middle mx-auto mt-10 flex w-full min-w-[300px] max-w-[450px] flex-col items-center p-4 font-monospace'
    >
      <img
        class='mb-4 block h-[131px] w-[131px] rounded-full'
        src='{{#if avatar}}https://ya-praktikum.tech/api/v2/resources/{{avatar}}{{else}}/assets/user-profile-pic-big.svg{{/if}}'
        alt='User profile picture'
      />
      <h2 class='invisible mb-12 text-2xl text-white'>{{display_name}}</h2>
      <form class='w-full'>
        {{{InputBlock
          name='login'
          label='Login'
          value=login
          error=errors.login
        }}}
        {{{InputBlock
          name='email'
          label='Email'
          value=email
          error=errors.email
        }}}
        {{{InputBlock
          name='first_name'
          label='First name'
          value=first_name
          error=errors.first_name
        }}}
        {{{InputBlock
          name='second_name'
          label='Second name'
          value=second_name
          error=errors.second_name
        }}}
        {{{InputBlock
          name='display_name'
          label='Name in chat'
          value=display_name
          error=errors.display_name
        }}}
        {{{InputBlock
          name='phone'
          label='Phone number'
          value=phone
          error=errors.phone
        }}}
        <div class='relative -top-3 font-monospace text-xs text-red0 text-center'>{{errors.API}}</div>
        {{{SubmitButton label='Save' onClick=onClick}}}
      </form>
      <div class='text-center'>
        {{{TextButton
          label='Cancel'
          href='/settings'
          red=true
        }}}
      </div>
    </div>
  </div>
</div>`
