<div class='flex h-screen'>
  <h1 class='hidden'>Change password</h1>
  {{{SideBarEmpty}}}
  <div class='justify-middle flex h-screen w-full items-start'>
    <div
      class='justify-middle mx-auto mt-10 flex w-full min-w-[300px] max-w-[450px] flex-col items-center p-4 font-monospace'
    >
      <img
        class='mb-4 block'
        src='/assets/user-profile-pic-big.svg'
        alt='User profile picture'
      />
      <h2 class='mb-12 text-2xl text-white'>{{display_name}}</h2>
      <form class='w-full'>
        {{{InputBlock
          name='old_password'
          label='Old password'
          type='password'
          value=old_password
          error=errors.old_password
        }}}
        {{{InputBlock
          name='password'
          label='Password'
          type='password'
          value=password
          error=errors.password
        }}}
        {{{InputBlock
          name='repeat_password'
          label='Repeat password'
          type='password'
          value=repeat_password
          error=errors.repeat_password
        }}}
        <div class='relative -top-3 font-monospace text-xs text-red0 text-center'>{{errors.API}}</div>
        {{{SubmitButton label='Change password' onClick=onClick}}}
      </form>
      <div class='text-center'>
        {{{TextButton
          label='Cancel'
          href='/profile'
          red=true
        }}}
      </div>
    </div>
  </div>
</div>
