<div class='flex h-screen items-center justify-center'>
  <div class='w-[340px] rounded-lg bg-dark2 px-7 py-3 shadow-2xl'>
    {{{H1 header='sign_in'}}}
    <form class='mt-12' action="#">
      <div class='relative mb-12'>
        {{{InputText inputName='login' value=login error=errors.login onBlur=onBlur}}}
        {{{InputLabel label='Login' for='login'}}}
        {{{InputErrorBox error=errors.login}}}
      </div>
      <div class='relative mb-12'>
        {{{InputText inputName='password' error=errors.password value=password inputType='password' onBlur=onBlur}}}
        {{{InputLabel label='Password' for='password'}}}
        {{{InputErrorBox error=errors.password}}}
      </div>
      {{{SubmitButton label='Sign In' onClick=onClick}}}
    </form>
    <div class='mt-2 text-center'>
      {{{TextButton
        label='Create account'
        href='/src/pages/sign-up/sign-up.hbs'
      }}}
    </div>
  </div>
</div>
